body {
    background-color: rgb(43, 32, 32);
}

.container {
    display: grid;
    width: 52vw;
    height: 52vh;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "song-card-1 song-card-2 song-card-3"
        "song-card-4 song-card-5 song-card-6"
        "song-card-7 song-card-8 song-card-0";
}

img {
    max-width: 100%;
    height: auto;
}

.song-card-0 {
    grid-area: song-card-0;
}

.song-card-1 {
    grid-area: song-card-1;
}

.song-card-2 {
    grid-area: song-card-2;
}

.song-card-3 {
    grid-area: song-card-3;
}

.song-card-4 {
    grid-area: song-card-4;
}

.song-card-5 {
    grid-area: song-card-5;
}

.song-card-6 {
    grid-area: song-card-6;
}

.song-card-7 {
    grid-area: song-card-7;
}

.song-card-8 {
    grid-area: song-card-8;
}